@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rozha+One&display=swap');

body {
  overflow-x: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

 body::-webkit-scrollbar {
  display: none;
} 

h1 {
  font-family: 'Rozha One', serif;  
}

h2 {
  color: #87125D;
}

html {
  scroll-behavior: smooth;
}

/*  
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.fade-in-scroll {
  animation: fadeinscroll 1s;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -.5s);
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fadeinscroll {
  0% {opacity: 100;}
  100% {opacity: 0;}
}

.rotate {
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -5s);
  animation-iteration-count: 1;
  animation-fill-mode: both; 
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.fade-in {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 4s;
  animation-delay: .5s;   
  animation-fill-mode: forwards; 
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 100;}
}

.projects-link {
  border: none;
  background-color: transparent;
  color: #fc63c6;
}

.projects-link:hover, .projects-link:focus {
  text-decoration: underline;
  color: #87125D;
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

.nav-link {
  margin: 0px 5px;  
  font-size: 1.2rem;
}

.brand {
  letter-spacing: .5rem;
}

.logo {
  width: 100%;
}

.selfportrait {
  width: 50%;
}

.mt-extra {
  margin-top: 100px;
}

.pb-extra {
  padding-bottom: 100px;
}

.py-6 {
  padding-top: 6vw;
  padding-bottom: 6vw;
}

.p-0 {
  padding: 0;
}

.title-lg {
  font-size: 4rem;
  line-height: 1;
}

.title-md {
  font-size: 3rem;
  line-height: 1;
}

.text-lg {
  font-size: 2rem;
}

.text-md {
  font-size: 1.5rem;
}

.text-sm {
  font-size: 1rem;
}

.full-width {
  margin-left: -15px;
  margin-right: -15px;
}

.bg-tilt {
  background-image: url('./images/tilt-bg-pink.svg');
  background-size: cover;
}

.bg-spots-light {
  background-image: url('./images/spots-bg-light.svg');
  background-size: cover;
  background-attachment: fixed;
}

.bg-spots-blask {
  background-image: url('./images/spots-bg-blask.svg');
  background-size: cover;
  background-attachment: fixed;
}

.bg-spots-dark {
  background-image: url('./images/spots-bg-dark.svg');
  background-size: cover;
  background-attachment: fixed;
}

.bg-white-80 {
  background-color: rgba(245, 245, 245, 0.93);
}

.bg-pink-one {
  background-color: #fc63c6bd;
}

.bg-pink-two {
  background-color: #ffa2dfbd;
}

.bg-pink-three {
  background-color: #ffc4eabd;
}

.bg-pink-four {
  background-color: #ffe0f4bd;
}

.bg-shells {
  background-image: url('./images/seashell.png');
  background-size: cover;
  background-attachment: fixed;
}

.vh-min-100 {
  min-height: 100vh;
}

.letter-space {
  letter-spacing: 3vh;
}

.message {
  max-height: 500px;
  min-height: 40px;
}

@media screen and (max-width: 600px) {

  .pt-extra {
    padding-top: 30vw;  
  }

  .title-lg {
    font-size: 2.3rem;
    line-height: 1;
    text-align: center;
  }

  .title-md {
    word-wrap: break-word;
    font-size: 2rem;
  }

  .text-lg {
    font-size: 1.2rem;
    padding-top: 7vw;
    text-align: center;
  }

  .text-md {
    font-size: 1.1rem;
  }

  .text-sm {
    text-justify: newspaper;
  }

  .logo {
    margin-top: 20vw;
    margin-bottom: 20vw;
  }

  .brand {
    letter-spacing: .2rem;
  }

  .letter-space {
    letter-spacing: 1.8vh;
  }
}


/*
  slideshow 
*/

#slides {
  position: relative;
  height: 80vh;
  padding: 0px;
  margin: 0px;
  margin-left: -30px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;

  box-sizing: border-box;
}

.slide:nth-of-type(1) {
  background: transparent;
}
.slide:nth-of-type(2) {
  background: whitesmoke;
}
.slide:nth-of-type(3) {
  background: snow;
}
.slide:nth-of-type(4) {
  background: whitesmoke;
}
.slide:nth-of-type(5) {
  background: snow;
} 

.showing {
  opacity: 1;
  z-index: 2;
}

.btn-next {
  margin: 0;
  height: 80vh;
  width: 100%;
  border: none;
  background-color: #87125D;
  -moz-border-radius: 0px; 
  -webkit-border-radius: 0px; 
  border-radius: 0px;
  color: #fc63c6;
}

.btn-next:hover {
  background-color: #87125D;
  -moz-border-radius: 0px; 
  -webkit-border-radius: 0px; 
  border-radius: 0px;
  color: lightgrey;
}

.btn-next:focus {
  outline: none;
}

